* {
  /* Resetar margens e preenchimentos */
  margin: 0;
  padding: 0;
}

.patua-one-regular {
  font-family: "Patua One", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  /* Exibir corpo como flexbox */
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fffbfb;
  background: linear-gradient(270deg, #242424 0%, #f0f0f0 200%);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 55px;
}

main {
  /* Definir largura e exibir como flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  gap: 25px;
}

header {
  /* Definir largura e exibir como flexbox */
  width: 100%;
  height: 130px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  background-color: #373737;
  background-image: url("https://www.wsupercars.com/wallpapers-regular/Formula-1/McLaren/2023-Formula1-McLaren-MCL60-003-1080.jpg");
  background-position: center;
  background-size: 100%;
  padding-top: 70px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 65px;
}

/* Botão de dropdown */
.dropbtn {
  display: flex;
  align-items: baseline;
  justify-content: center;

  background-color: transparent;
  color: #ff8c00;
  margin-left: 25px;
  font-size: 25px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* Botão de dropdown em hover e foco */
.dropbtn:hover,
.dropbtn:focus {
  /* Alterar cor de fundo em hover e foco */
  text-decoration: underline #ff7b00;
  border-radius: 10px;
}

/* Container do dropdown */
.dropdown {
  /* Posicionar dropdown como relativo */
  position: relative;
  display: inline-block;
}

/* Conteúdo do dropdown (oculto por padrão) */
.dropdown-content {
  /* Ocultar conteúdo do dropdown */
  display: none;
  position: absolute;
  background-color: #f99a00;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 130px;
}

/* Links dentro do dropdown */
.dropdown-content a {
  /* Definir cor de texto e padding */
  color: #000000;
  padding: 12px 16px;
  font-family: "Patua One", serif;
  display: block;
}

/* Alterar cor de links em hover */
.dropdown-content a:hover {
  /* Alterar cor de fundo em hover */
  background-color: #ddd;
}

/* Mostrar conteúdo do dropdown (usar JS para adicionar essa classe ao container do dropdown quando o usuário clica no botão) */
.show {
  /* Exibir conteúdo do dropdown */
  display: block;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/*CONFIGURAÇÃO DA BARRA DE BUSCA*/
#divBusca {
  position: absolute;
  right: 0;
  margin: 20px;
  background-color: #ffffff;
  border: solid 2px #ff8c00;
  border-radius: 10px;
  width: 300px;
  height: 32px;
}

#txtBusca {
  float: left;
  padding-left: 5px;
  font-size: 18px;
  border: none;
  height: 32px;
  width: 195px;
}

#btnBusca {
  border: none;
  float: left;
  height: 32px;
  border-radius: 0 7px 7px 0;
  width: 72px;
  font-weight: bold;
  background: #ff8c00;
  color: #ffffff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: medium;
}

h3 {
  font-family: "Anek Devanagari", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Anek Devanagari", sans-serif;
  color: #ff8c00;
}

#divBusca img {
  float: left;
}

/*CONFIGURAÇÃO DO CONTEUDO*/
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 400px;

  background-color: #bebebe;
  border-radius: 15px;
  color: black;
}

#moletom-img,
#camisata-branca-img,
#camiseta-laranja-img,
#moletom-laranja-img,
#jaqueta-img,
#touca-img,
#gorro-img {
  width: 300px;
  height: 300px;
}

.moletom,
.camiseta-branca,
.camiseta-laranja,
.moletom-laranja2,
.jaqueta,
.touca,
.gorro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #ddd;
  border-radius: 15px;
  width: 320px;

  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
}

p {
  text-align: center;
  font-size: larger;
  font-weight: 500;
}
p:hover {
  text-decoration: underline;
}
a {
  text-decoration: none;
  color: black;
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  background-color: #f99a00;
  width: 100%;
}

.logo {
  display: flex;
  width: 150px;
  height: 50px;

  margin-left: 10px;

  opacity: 0.8;
}

/*CONFIGURAÇÕES DO BOTÃO LOGIN*/
#login {
  position: absolute;
  top: 2%;
  right: 1%;
}

#login a {
  display: inline-block;
  transition: background-color 0.3s ease;
}

#login img {
  display: block;
}

#login a:hover {
  background-color: #ff8c00;
  border-radius: 25px;
  padding: 0px;
  position: relative;
  top: 0;
  left: 0;
}
